*{
  border: none;
  margin: 0;
  padding: 0;
}

/* MEDIA QUERIES */
/* Large devices (laptops/desktops, 1200px and below) */
@media only screen and (max-width: 980px) {
  body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
  }
  h5 { 
    font-size: 14px; 
    font-weight: 600;
  }
  .outer-container {
    width: 100%;
    border: 1px solid black;
  }
  .profile-top-ctr {
    width: 450px;
    border: 1px solid red;
    margin:auto;
  }
  #profile-top-bg {
    position: relative;
  }
  #profile-top-bg > img{
    display: block;
    width: 450px;
    z-index: 2;
  }
  .profile-pic-ctr {
    display: block;
    z-index: 4;
  }
  #profile-pic {
    position: absolute;
    top: 18.5%;
    left: 35%;
    width: 150px;
    border: 3px solid white;
    border-radius: 50%;
  }
  .profile-about {
    margin-top: 80px;
  }
  .followBtn-Ctr{
    display: block;
    float: right;
  }
  .btn {
    background-color: #41c0fa;
    color: white;
  }
  #followBtn{
    border-radius: 15px;
    padding: 5px 20px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
  }
  h5 { 
    font-size: 16px; 
    font-weight: 900;
    color: black;
  }
  .outer-container {
    width: 100%;
  }
  .profile-top-ctr {
    width: 600px;
    border: 1px solid red;
    margin:auto;
    border: 0.75px solid #f1f1f1;
  }
  .profile-card {
    height: 40px;
    display: flex;
    justify-content: flex-start;
  }
  .follower-btn-ctr{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7%;
  }
  #backBtn ion-icon {
    font-size: 20px;
    background-color: white;
    border: none;
    color: #41c0fa; 
  }
  .profile-name-ctr{
    display: flex;
    justify-content: flex-start;
    margin: 3px 0 0 30px;
  }
  .profile-card-inner > p {
    margin-left: 30px;
    color: slategray;
  }
  #verifiedIcon {
    font-size: 20px;
    color: #41c0fa;
    margin-left: 2px;
  }
  #profile-top-bg {
    position: relative;
  }
  #profile-top-bg > img{
    display: block;
    width: 600px;
    z-index: 2;
  }
  .profile-pic-ctr {
    display: block;
    z-index: 4;
  }
  #profile-pic {
    position: absolute;
    top: 22.5%;
    left: 30%;
    width: 150px;
    border: 3px solid white;
    border-radius: 50%;
  }
  .followBtn-Ctr{
    display: block;
    display: flex;
    justify-content: right;
  }
  #followBtn{
    background-color: #41c0fa;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 15px;
    padding: 5px 20px;
    margin-right: 10px;
    margin-top: -40px;
  }
  #followBtn:hover{
    cursor: pointer;
    background-color: #76d3fe;
  }
  .profile-about {
    margin-top: 50px;
    height: 150px;
  }
  .about-content {
    font-size: 14px;
    margin-top: 40px;
    margin-left: 10px;
    color: slategray;
  }
  .about-content > span {
    line-height: 28px;
  }
  .name-handler {
    margin-bottom: 5px;
    line-height: 16px;
  }
  #handler {
    font-size: 12px;
  }
  span ion-icon {
    font-size: 15px;
  }
  .profile-following {
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    margin-left: -18px;
    margin-top: 8px;
  }
  #following, #followers { font-weight: 800; color: black; }
  .tabs {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .tab {
    width: 130px;
    height: 30px;
    margin-bottom: 5px;
  }
  .tab a:active {
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    color: #636363;
  }
  .tab:nth-of-type(1){
    margin-left: 25px;
  }
  .tab:nth-of-type(2){
    width: 180px;
  }
  tab a:hover {
    text-decoration: none;
    cursor: pointer;
    color:#41c0fa;
    border-bottom: 2px solid #41c0fa;
  }
}